<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta.description|striptags }}">
    <meta name="author" content="{{ config.author }}">

    <title>{{ site_title }}</title>
	<!-- [ Social Media Meta Tags ] -->
	<meta content='{{ site_title }}' property='og:title'/>
	<meta content='website' property='og:type'/>
	<meta content='{{ current_page.url }}' property='og:url'/>
	<meta content='{% if meta.img %}{{ meta.img }}{% else %}{{ theme_url }}/images/home-bg.jpg{% endif %}' property='og:image'/>
	<meta content="{{ meta.description|striptags }}" property='og:description'/>
	<meta content='{{ site_title }}' property='og:site_name'/>
	<meta content='en_US' property='og:locale'/>
	<meta content='summary_large_image' name='twitter:card'/>
	<meta content='{{ site_title }}' name='twitter:title'/>
	<meta content='{{ config.twitter }}' name='twitter:site'/>
	<meta content='{{ config.twitter }}' name='twitter:creator'/>
	<meta content='{{ meta.description|striptags }}' name='twitter:description'/>
	<meta content='{% if meta.img %}{{ meta.img }}{% else %}{{ theme_url }}/images/home-bg.jpg{% endif %}' name='twitter:image'/>
    
    <!-- Custom CSS -->
    <link href="{{ theme_url }}/css/styles.css" rel="stylesheet">

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
</head>

<body>
    <header>
      <div class="wrapper">
        <div class="layout">
          <div class="header-logo">
            <img src="/assets/images/inboxr-white.svg" />
          </div>
          <div class="header-navigation">
            <ul>
              <li><a href="#">blog</a></li>
              <li><a href="#">about</a></li>
              <li><a href="#">privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="author">
      <div class="wrapper">

        <h2>About the author</h2>
        <div class="layout">
          <div class="photo">
            <div class="photo-container">
              <img src="/assets/images/steven-mansfield.jpg" >
            </div>
          </div>
          <div class="content">
            <h3>Steven Mansfield</h3>
            <p>Email designer, builder and game changer.</p>
          </div>
          <div class="social">
            behance / twitter etc
          </div>
        </div>
      </div>
    </section>

    <section class="subscribe">
      <div class="wrapper">

        <h2>Feed your brain</h2>
        <div class="layout">
          <div class="content">
            <p>We all know that monday mornings can be hard.</p>
            <p>What we at INBOXR suggest is to get something to look forward to.</p>
            <p>Sign up to our newsletter and you'll get some great stuff direct to your mailbox.</p>

          </div>
          <div class="form">
            <form>
              <label>Email address</label>
              <input type="text" placeholder="name@email.com" />
              <button>Get your portion!</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  
    <footer>
      <div class="wrapper">
        <div class="layout">
          <div class="footer-logo">
            <img src="/assets/images/inboxr-grey.svg" />
          </div>
          <div class="footer-navigation">
            <ul>
              <li><a href="#">blog</a></li>
              <li><a href="#">about</a></li>
              <li><a href="#">privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>